<div class="row">
   <div class="col-2 col-sm-2 col-md-2 col-lg-4 col-xl-4">
   </div>
   <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
      <h2 style="width: 100%; 
         text-align: center;          
         margin: 10px 0 20px;background:#fff; 
         padding:0 10px;"><button type="button" class="outline_btn success" onclick="save_itinerary_button({{request.user.pk}})">Save Itinerary</button></h2>
   </div>
   <!--  <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
      </div> -->
   <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
      <h2 style="width: 100%; 
         text-align: center;          
         margin: 10px 0 20px;background:#fff; 
         padding:0 10px;"><button type="button" class="outline_btn warning" onclick="getPDF()">Download as PDF</button></h2>
   </div>
</div>