{% load static %}
{% load viagetemplate %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Website Title -->
    <title>Viage - One Pit Stop For Travel</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'ViageApp/assets/css/index/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'ViageApp/assets/css/index/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'ViageApp/assets/css/index/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'ViageApp/assets/css/index/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'ViageApp/assets/css/index/styles.css' %}" rel="stylesheet">
    <link href="{% static 'ViageApp/css/common.css' %}" rel="stylesheet">

	<!-- Favicon  -->
    <style type="text/css">
    
    .footer-copyright {
        margin-top: 1px !important;
    }
    
    </style>
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    
    {% include 'ViageApp/common/header.html' %}


    <!-- Header -->
    <header id="header" class="header" style="background: url({% static 'ViageApp/assets/images/homepage.jpg' %});">
        <div class="header-content" >
            <div class="container" >
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><span id="js-rotating">
                            {{config_object.header_array}}</span></h1>
                            <p class="p-heading p-large">{{config_object.header_content}}</p>
                            <button class="btn btn-solid-lg" >Sign Up</button>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRO</div>
                        <h2>{{config_object.intro_header}}</h2>
                        <p>{{config_object.intro_content}}</p>
                        <p class="testimonial-text">"{{config_object.ceo_config}}"</p>
                        <div class="testimonial-author">{{config_object.by_ceo}} - CEO</div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'ViageApp/assets/images/index/intro-office.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    {% for items in config_object.strategy_array|convert_to_list %}

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> {{items}}</h4>
                <p>{{ config_object.strategy_content_array|convert_to_list|get_at_index:forloop.counter0 }}</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    
                    {% endfor %}

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


   
    

    <!-- Details 1 -->
	<div id="details" class="accordion">
         <div class="area-1 container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-7">
                    <div class="image-container" style="margin-top: 30%">
            <img class="img-fluid" src="{% static 'ViageApp/assets/images/index/about.jpg' %}" alt="alternative">
        </div>
    </div>
</div>
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">
            
            <!-- Accordion -->
            <div class="accordion-container" id="accordionOne">
                <h2>{{ config_object.acceleration_content }}</h2>

                {% for items in config_object.acceleration_content_header_array|convert_to_list %}

                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">{{ forloop.counter }}</span><span class="accordion-title">{{ items }}</span>
                        </span>
                    </div>
                    <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            {{ config_object.acceleration_content_array|convert_to_list|get_at_index:forloop.counter0 }}
                        </div>
                    </div>
                </div> 


                {% endfor %}
             

		</div> <!-- end of area-2 -->
    </div> <!-- end of accordion -->
    <!-- end of details 1 -->


    <!-- Call Me -->
    <div id="callMe" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CALL ME</div>
                        <h2 class="white">{{config_object.contact_header}}</h2>
                        <p class="white">{{config_object.contact_content}}</p>
                        <ul class="list-unstyled li-space-lg white">
                            {% for items in config_object.contact_bullets|convert_to_list %}
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">{{items}}</div>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                   
                    <!-- Call Me Form -->
                    <form id="callMeForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="lname" name="lname" required>
                            <label class="label-control" for="lname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="lphone" name="lphone" required>
                            <label class="label-control" for="lphone">Phone</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="lemail" name="lemail" required>
                            <label class="label-control" for="lemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control-select" id="lselect" required>
                <option class="select-option" value="" disabled selected>Interested in...</option>

                                {% for items in config_object.interested_in_options|convert_to_list %}
                                <option class="select-option" value={{items}}>{{items}}</option>
                                {% endfor %}
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>


                        <div class="form-group checkbox white">
                            <input type="checkbox" id="lterms" value="Agreed-to-Terms" name="lterms" required>{{config_object.agree_policy}}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">CALL ME</button>
                        </div>
                        <div class="form-message">
                            <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of call me form -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of call me -->


    


   


   {% include 'ViageApp/common/footer.html' %}

    
    	
    <!-- Scripts -->
    <script src="{% static 'ViageApp/assets/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{%static 'ViageApp/assets/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{%static 'ViageApp/assets/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{%static 'ViageApp/assets/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{%static 'ViageApp/assets/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{%static 'ViageApp/assets/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{%static 'ViageApp/assets/js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{%static 'ViageApp/assets/js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
    <script src="{%static 'ViageApp/assets/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{%static 'ViageApp/assets/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>